*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(62, 174, 62);
    color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
}
form{
    width: 40%;
    /* height: 300px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgb(77, 77, 77);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

label#head{
    font-family: lalezar;
    font-size: 30px;
    margin-bottom: 35px;
}

input, button{
    padding: 10px;
    margin: 3px;
    font-family: tahoma;
    border: 1.5px solid rgb(168, 168, 168);
    font-size: 16px;
    border-radius: 5px;

}

button{
    background-color: rgb(62, 174, 62);
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#result{
    background-color: white;
    color: rgb(78, 78, 78);
    font-size: 30px;
    width: 40%;
    padding: 20px;
    height: 100px;
    text-align: center;
    margin-top: 8px;
    font-family: lalezar;
    display: none;
}